.index-navbar {
    margin-left: 1rem;
    padding-bottom: 0 !important;
}


#card {
    border-top: 1px solid #dee2e6;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.nav-link {
    color: #000 !important;
}

.nav-link.active {
    color: #004dd1 !important;
}

#card:hover {
    background: #b9eeffa6 !important;
    cursor: pointer;
}

.modal.ms .modal-image {
    width: 100%;
    background-image: url('../images/modal-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal.ms .email p {
    font-size: 12px;
    margin-bottom: 0 !important;
}

button.help-wrapper {
    background: none;
    border: none;
    outline: none;
}

.container-fluid {
    padding: 0 !important;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.nav-content-wrapper {
    width: 100%;
}

.month-select-form {
    width: auto;
}

.month-select-form, .month-select-form option {
    cursor: pointer;
}

.year-select-form {
    width: 80px;
}

.tovarlar-harakati-navbar p {
    font-size: 12px !important;
}


@media only screen and (max-width: 991px) {
    .dropdown-wrapper {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
    }

    .tovarlar-harakati-navbar {
        flex-direction: row !important;
    }
}

@media only screen and (max-width: 600px) {
    .help {
        justify-content: center;
    }

    .help div {
        border: none !important;
    }

    .help-wrapper {
        width: auto !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 0 !important;
    }
}

@media only screen and (max-width: 575px) {
    .content-wrapper {
        justify-content: center !important;
    }

    .help-wrapper {
        border: none !important;
    }

    .tovarlar-harakati-navbar {
        margin-top: 15px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 475px) {
    .index-navbar {
        margin-left: 0 !important;
    }

    #card {
        margin: 0 !important;
    }

    .nav-content-wrapper {
        flex-direction: column-reverse;
        align-items: end !important;
    }

    .nav-tabs {
        width: 100% !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .home-navbar {
        width: 100%;
        margin: 0 !important;
        padding: 0 10px;
    }

}

@media only screen and (max-width: 400px) {
    .nav-link-wrapper {
        justify-content: center !important;
    }
    
    .umumiy {
        display: none;
    }

    .nav-tabs {
        gap: 0 !important;
    }

    .nav-link {
        padding: 0 10px !important;
        font-size: 16px !important;
    }

    .content p {
        margin-bottom: 0 !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .content {
        width: 100% !important;
        margin: auto !important;
    }

    .nav-link-wrapper {
        margin: auto;
    }
    
    .index-navbar {
        margin-left: 0px !important;
    }
    
    .nav-tabs {
        margin-top: 0 !important;
    }
    
    .tovarlar-harakati-navbar {
        margin-top: 10px !important;
    }
}
